.profile-photo-container {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-photo {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
